<!DOCTYPE HTML>
s
<html>
	<head>
		<title>{{ pagename }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Intro -->
					<section class="intro">
						<header>
							<h2>Traffic Sign Classification</h2>
							<p>Using LeNet Convolutional Neural Network by <a href="https://eashankaushik.github.io/">Eashan Kaushik</a> </p>
							<ul class="actions">
								<li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
							</ul>
						</header>
						<div class="content">
							<span class="image fill" data-position="center"><img src="{{ url_for('static',filename='images/traffic signs.PNG') }}" alt="" /></span>
						</div>
					</section>

				<!-- Section -->
					<section id="first">
						<header>
							<h2>Introduction</h2>
						</header>
						<div class="content">
							<p>Traffic sign classification is an important task for self driving cars.
							In this project, a Deep Network known as LeNet will be used for traffic sign images classification.
							We will be classifying 43 classes of traffic signs, these classes can be seen below.
							</p>
						</div>
					</section>

				<!-- Section -->
					<section>
						<header>
							<h2>Classes</h2>
						</header>
						<div class="content">
							<ul>
								<li>0 - Speed limit (20km/h)</li>
								<li>1 - Speed limit (30km/h)</li>
								<li>2 - Speed limit (50km/h)</li>
								<li>3 - Speed limit (60km/h)</li>
								<li>4 - Speed limit (70km/h)</li>
								<li>5 - Speed limit (80km/h)</li>
								<li>6 - End of speed limit (80km/h)</li>
								<li>7 - Speed limit (100km/h)</li>
								<li>7 - Speed limit (100km/h)</li>
								<li>7 - Speed limit (100km/h)</li>
								<li>8 - Speed limit (120km/h)</li>
								<li>9 - No passing</li>
								<li>10 - No passing for vehicles over 3.5 metric tons</li>
								<li>11 - Right-of-way at the next intersection</li>
								<li>12 - Priority road</li>
								<li>13 - Yield</li>
								<li>14 - Stop</li>
								<li>15 - No vehicles</li>
								<li>16 - Vehicles over 3.5 metric tons prohibited</li>
								<li>17 - No entry</li>
								<li>18 - General caution</li>
								<li>19 - Dangerous curve to the left</li>
								<li>20 - Dangerous curve to the right</li>
								<li>21 - Double curve</li>
								<li>22 - Bumpy road</li>
								<li>23 - Slippery road</li>
								<li>23 - Slippery road</li>
								<li>24 - Road narrows on the right</li>
								<li>25 - Road work</li>
								<li>26 - Traffic signals</li>
								<li>27 - Pedestrians</li>
								<li>28 - Children crossing</li>
								<li>29 - Bicycles crossing</li>
								<li>30 - Beware of ice/snow</li>
								<li>31 - Wild animals crossing</li>
								<li>31 - Wild animals crossing</li>
								<li>31 - Wild animals crossing</li>
								<li>31 - Wild animals crossing</li>
								<li>31 - Wild animals crossing</li>
								<li>32 - End of all speed and passing limits</li>
								<li>32 - End of all speed and passing limits</li>
								<li>33 - Turn right ahead</li>
								<li>34 - Turn left ahead</li>
								<li>34 - Turn left ahead</li>
								<li>34 - Turn left ahead</li>
								<li>34 - Turn left ahead</li>
								<li>34 - Turn left ahead</li>
								<li>34 - Turn left ahead</li>
								<li>34 - Turn left ahead</li>
								<li>34 - Turn left ahead</li>
								<li>35 - Ahead only</li>
								<li>36 - Go straight or right</li>
								<li>37 - Go straight or left</li>
								<li>38 - Keep right</li>
								<li>39 - Keep left</li>
								<li>40 - Roundabout mandatory</li>
								<li>41 - End of no passing</li>
								<li>42 - End of no passing by vehicles over 3.5 metric tons</li>
							</ul>
						</div>
					</section>

				<!-- Section -->
					<section>
						<header>
							<h2>Results</h2>
						</header>
						<div class="content">
							<!-- Section -->
								<section>
									<div class="content">
										<div class="gallery">
											<img src="{{ url_for('static',filename='images/prediction-small.jpg') }} " alt="" />
										</div>
									</div>
								</section>

							<!-- Section -->
								<section>
									<header>
										<h3>Make Prediction</h3>
									</header>
									<div class="content">
										<div class="gallery">
											<a href="images/gallery/fulls/05.jpg" class="landscape"><img src="{{ url_for('static',filename='images/gallery/thumbs/05.jpg') }}" alt="" /></a>
											<a href="images/gallery/fulls/06.jpg"><img src="{{ url_for('static',filename='images/gallery/thumbs/06.jpg') }}" alt="" /></a>
											<a href="images/gallery/fulls/07.jpg"><img src="{{ url_for('static',filename='images/gallery/thumbs/07.jpg') }}" alt="" /></a>
										</div>
									</div>
								</section>

							

						</div>
					</section>

				<!-- Section -->
					<section>
						<header>
							<h2>Get in touch</h2>
						</header>
						<div class="content">
							<ul class="items">
								<li>
									<h3>Email</h3>
									<a href="#">eashank16@gmail.com</a>
								</li>
								<li>
									<ul class="icons">
										<li><a href="https://www.linkedin.com/in/eashan-kaushik-7b4454168/" class="icon brands style2 fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
										<li><a href="https://github.com/EashanKaushik/Car-Sales-Prediction" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
										<li><a href="https://eashankaushik.github.io/" class="fa fa-address-card"><span class="label"></span></a></li>
									</ul>
								</li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/browser.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static',filename='js/util.js') }}"></script>
			<script src="{{ url_for('static',filename='js/main.js') }}"></script>

	</body>
</html>